@model PhoneBookMVC.ViewModels.ContactGroupsVM.ContactGroupsIndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Group name</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.ContactGroups) {
    <tr>
        <td>@item.Name</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID  })
        </td>
    </tr>
}

</table>
